[project]
name = ""
version = "0.0.1"
requires-python = ">=3.13"
dependencies = [
    "openpyxl>=3.1.5",
    "pillow>=12.0.0",
    "sqlalchemy>=2.0.44",
]

[dependency-groups]
dev = []

[tool.uv]
package = false

[[tool.uv.index]]
name = "pypi"
url = "https://pypi.org/simple"
